{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generate Ethereum Keys</title>
    <link rel="stylesheet" href=" {% static 'css/styles.css' %} " />
  </head>
  <body>
    <div class="container">
      <h1>Ethereum Key Generator</h1>

      <div class="container__header">
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="generate_random">
            Generate Random Keys
          </button>
        </form>
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="convert_key">Convert Key</button>
          <input
            type="text"
            name="public_key"
            placeholder="Enter public key"
            required
          />
        </form>
      </div>

      {% if keys_list %}
      <h3>Generated Keys:</h3>
      <ul class="eth__list">
        {% for key in keys_list %}
        <li>
          <strong>Private Key:</strong> {{ key.private_key }}<br />
          <strong>Public Key:</strong> {{ key.public_key }}<br />
          <strong>Ethereum Address:</strong> {{ key.eth_address }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="container__footer">
        <form method="get" action="{% url 'download_keys' %}">
          <input type="hidden" name="private_key" value="{{ private_key }}" />
          <input type="hidden" name="public_key" value="{{ public_key }}" />
          <input type="hidden" name="eth_address" value="{{ eth_address }}" />
          <button type="submit">Download Keys</button>
        </form>
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="clear_keys">Clear Keys</button>
        </form>
      </div>
    </div>
  </body>
</html>
